---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import StartHere from "../components/StartHere.astro";
import MapSection from "../components/MapSection.astro";
import CheatSheets from "../components/CheatSheets.astro";
import ShopWaitlist from "../components/ShopWaitlist.astro";
import Partner from "../components/Partner.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<Base>
  <Header />
  <main id="main">
    <Hero />
    <StartHere />
    <MapSection />
    <CheatSheets />
    <ShopWaitlist />
    <Partner />
  </main>
  <SiteFooter />
</Base>
